<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>基于springboot 的权限管理后台</title>
    <link rel="stylesheet" th:href="@{/static/layui/css/layui.css}">
    <script th:src="@{/static/js/jquery/jquery.min.js}"></script>
    <script th:src="@{/static/layui/layui.js}"></script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">

    <!--引入topbar-->
    <div th:replace="commons/bar::topbar(activeUri='permissions')"></div>

    <div class="layui-body">
        <form class="layui-form layui-form-pane" action="">
            <div class="layui-form-item ">
                <div class="layui-inline">
                    <label class="layui-form-label">查询条件:</label>
                    <div class="layui-input-inline">
                        <input type="text" id="keyword" placeholder="权限/表达式" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-input-inline">
                        <input type="text" id="id" placeholder="Id" autocomplete="off" class="layui-input">
                    </div>
                </div>


                <button id="search" type="button" class="layui-btn">查询</button>
            </div>

        </form>

        <!--表格-->
        <table  class="layui-hide" id="test" lay-filter="test"></table>
        <script type="text/html" id="barDemo">
            <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
            <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
        </script>
        <!--分页-->
        <div id="test1"></div>
        <!--页脚-->
        <div class="layui-tab layui-tab-brief" lay-filter="demo">
            <ul class="layui-tab-title">
                <li>日期</li>
                <li>上传</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item">
                    <div id="laydateDemo"></div>
                </div>
                <div class="layui-tab-item">
                    <div class="layui-upload-drag" id="uploadDemo">
                        <i class="layui-icon"></i>
                        <p>点击上传，或将文件拖拽到此处</p>
                        <div class="layui-hide" id="uploadDemoView">
                            <hr>
                            <img src="" alt="上传成功后渲染" style="max-width: 100%">
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>


    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © saltlee.cn - 底部固定区域
    </div>
</div>

<script>



    layui.use(['table', 'element', 'laydate', "layer", 'upload', 'form'], function () {

        var table = layui.table  //table表格
            , laydate = layui.laydate  //日期
            , upload = layui.upload    //上传
            , element = layui.element //动态效果
            , form = layui.form
            , layer = layui.layer //弹层
            , $ = layui.jquery;

        //向世界问个好
        // layer.msg('欢迎访问');
        //执行一个 table 实例
        const tableIns = table.render({
            elem: '#test'
            , height: 420
            , url: '/perms' //数据接口
            , cellMinWidth: 80 //全局定义常规单元格的最小宽度
            , title: '用户表'
            , page: true
            , done: function (res,curr) {
                var beforeCurr = curr; // 获得当前页码
                var dataLength = res.data.length; // 获得当前页的记录数
                var count = res.count; // 获得总记录数
                if(dataLength === 0 && count !== 0){ //如果当前页的记录数为0并且总记录数不为0
                    table.reload('test', {page: {curr:beforeCurr-1}})
                }
            }
            , toolbar: 'default' //开启工具栏，此处显示默认图标，可以自定义模板，详见文档
            , totalRow: false //开启合计行
            , cols: [
                [ //表头
                    {type: 'checkbox', fixed: 'left'}
                    , {field: 'id', title: 'ID', sort: true, width: '10%'}
                    , {field: 'name', title: '权限', width: '20%'}
                    , {field: 'expression', title: '描述', width: '50%', sort: true, totalRow: true}
                    , {fixed: 'right', width: '20%', align: 'center', toolbar: '#barDemo', width: 165}
                ]
            ]
            , response: {
                statusName: 'code' //规定数据状态的字段名称，默认：code
                , statusCode: 200//规定成功的状态码，默认：0
                , msgName: 'msg' //规定状态信息的字段名称，默认：msg
                // ,countName: 'total' //规定数据总数的字段名称，默认：count
                , dataName: 'data' //规定数据列表的字段名称，默认：data


            }
            , parseData: function (res) { //res 即为原始返回的数据
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.msg, //解析提示文本
                    "count": res.data.total, //解析数据长度
                    "data": res.data.data, //解析数据列表
                };
            }
        });
        // 数据重载
        // 重载
        $('#search').on('click', function () {
            const keyword = $('#keyword'),
                  id=$('#id');
            tableIns.reload({
                page: {
                    curr: 1 //重新从第 1 页开始
                },
                where: { //设定异步数据接口的额外参数，任意设
                    id:id.val(),
                    name: keyword.val(),
                    expression:keyword.val()
                },

            });
        });

        //监听工具条
        table.on('tool(test)', function (obj) { //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            var tr = obj.tr; //获得当前行 tr 的 DOM 对象（如果有的话）

            if (layEvent === 'detail') { //查看
                //do somehing
            } else if (layEvent === 'del') { //删除
                //console.log("curr:"+tableIns.config.page.curr)
                layer.confirm('真的删除行么', function (index) {
                    // obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
                    // layer.close(index);
                    //向服务端发送删除指令
                    $.ajax({
                        url: '/perm/del/' + data.id,
                        type: 'delete',
                        data: {id: data.id},
                        dataType: "json",
                        success: function (result) {
                            if (result) {
                                console.log(result.length)
                                layer.alert("删除:" + data.id + "成功");

                                table.reload('test');

                            } else {
                                layer.alert("删除失败！");
                            }
                        }
                    });
                });
            } else if (layEvent === 'edit') { //编辑
                //do something
                // layer.alert('编辑行：<br>'+ JSON.stringify(data))
                console.log(data.id)

                layer.open({
                    //layer提供了5种层类型。可传入的值有：
                    // 0（信息框，默认）1（页面层）2（iframe层）3（加载层）4（tips层）
                    type: 2
                    ,title: '编辑部门'
                    ,content: '/perm/input'
                    ,maxmin: true
                    ,area: ['750px', '600px']
                    // ,btn: ['确定', '取消']
                    ,success:function (layero ,index) {


                                // console.log(result.data.data[0].id);

                        //找到它的子窗口的body
                        var body = layer.getChildFrame('body', index);
                        //为子窗口元素赋值
                        body.find("#id").val(data.id);
                        body.find("#name").val(data.name);
                        body.find("#expression").val(data.expression);

                        //获取新窗口对象  不渲染回显不了按钮
                        var iframeWindow = layero.find('iframe')[0].contentWindow;
                        //重新渲染
                        iframeWindow.layui.form.render();

                    }

                });

            }
        });
        //批量操作
        //监听头工具栏事件
        table.on('toolbar(test)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id)
                , data = checkStatus.data; //获取选中的数据
            const ids = [];
            for (let i = 0; i < data.length; i++) {
                ids.push(data[i].id);
            }

            switch (obj.event) {
                case 'add':
                    //添加 模态框
                    layer.open({
                        //layer提供了5种层类型。可传入的值有：
                        // 0（信息框，默认）1（页面层）2（iframe层）3（加载层）4（tips层）
                        type: 2
                        ,title: '添加部门'
                        ,content: '/perm/input'
                        ,maxmin: true
                        ,area: ['750px', '600px']
                        ,success:function (layero ,index) {
                        }
                    });
                    break;
                case 'update':
                    if (data.length === 0) {
                        layer.msg('请选择一行');
                    } else if (data.length > 1) {
                        layer.msg('只能同时编辑一个');
                    } else {
                        layer.open({
                            //layer提供了5种层类型。可传入的值有：
                            // 0（信息框，默认）1（页面层）2（iframe层）3（加载层）4（tips层）
                            type: 2
                            ,title: '编辑用户'
                            ,content: '/perm/input'
                            ,maxmin: true
                            ,area: ['750px', '600px']
                            // ,btn: ['确定', '取消']
                            ,success:function (layero ,index) {

                            data = data[0]
                            //找到它的子窗口的body
                            var body = layer.getChildFrame('body', index);
                            //为子窗口元素赋值
                            body.find("#id").val(data.id);
                            body.find("#name").val(data.name);
                            body.find("#expression").val(data.expression);

                            //获取新窗口对象  不渲染回显不了按钮
                            var iframeWindow = layero.find('iframe')[0].contentWindow;
                            //重新渲染
                            iframeWindow.layui.form.render();

                            }

                        });
                    }
                    break;
                case 'delete':
                    if (data.length === 0) {
                        layer.msg('请选择一行');
                    } else {
                        console.log(data)
                        layer.confirm('真的删除所选行么', function (index) {

                            //向服务端发送删除指令
                            $.ajax({
                                url: '/perm/del/perms',
                                type: 'delete',
                                dataType: "json",
                                traditional: true,//防止深度序列化
                                data: {
                                    ids: ids,

                                },
                                success: function (result) {
                                    if (result) {
                                        layer.alert("删除成功");
                                        table.reload('test')

                                    } else {
                                        layer.alert("删除失败！");

                                    }
                                }
                            });
                        });


                    }
                    break;
            }
        });


        // $.ajax({
        //     url: /depts/,
        //     type: 'get',
        //     dataType: "json",
        //     success: function (result) {
        //         for (var i = 0; i < result.data.total; i++) {
        //        $("#deptId").append(new Option(result.data.data[i].name, result.data.data[i].id));
        //         }
        //
        //         //重新渲染
        //        form.render();
        //     }
        // });

        //将日期直接嵌套在指定容器中
        var dateIns = laydate.render({
            elem: '#laydateDemo'
            , position: 'static'
            , calendar: true //是否开启公历重要节日
            , mark: { //标记重要日子
                '0-10-14': '生日'
                , '2020-01-18': '小年'
                , '2020-01-24': '除夕'
                , '2020-01-25': '春节'
                , '2020-02-01': '上班'
            }
            , done: function (value, date, endDate) {
                if (date.year == 2017 && date.month == 11 && date.date == 30) {
                    dateIns.hint('一不小心就月底了呢');
                }
            }
            , change: function (value, date, endDate) {
                layer.msg(value)
            }
        });
        //上传
        upload.render({
            elem: '#uploadDemo'
            , url: 'https://httpbin.org/post' //改成您自己的上传接口
            , done: function (res) {
                layer.msg('上传成功');
                layui.$('#uploadDemoView').removeClass('layui-hide').find('img').attr('src', res.files.file);
                console.log(res)
            }
        });

    });
</script>
</body>
</html>