<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>添加</title>
    <link rel="stylesheet" th:href="@{/static/layui/css/layui.css}">
    <script th:src="@{/static/js/jquery/jquery.min.js}"></script>
    <script th:src="@{/static/layui/layui.js}"></script>
</head>

<div class="layui-layout layui-layout-admin">

    <!--表单-->
    <div class="layui-body">
        <form class="layui-form layui-form-pane" style="margin-right: 50px" action="" lay-filter="example">
            <!--判断是否更新-->
            <div class="layui-form-item">
                <input type="hidden" id="id" name="id" autocomplete="off" class="layui-input">
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label"><span style="color: red">*</span>角色:</label>
                <div class="layui-input-block">
                    <input type="text" id="name" name="name" lay-reqtext="部门名是必填项，岂能为空？" lay-verify="required"
                           autocomplete="off" placeholder="请输入角色名" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label"><span style="color: red">*</span>描述:</label>
                <div class="layui-input-block">
                    <input type="text" id="sn" name="sn" lay-reqtext="描述为必填项" lay-verify="required" autocomplete="off"
                           placeholder="请输入描述" class="layui-input">
                </div>
            </div>
            <div id="perms" class="layui-form-item">
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
                    <legend>权限:</legend>
                </fieldset>
                <div class="layui-form-item layui-form-text">
                    <!--<label class="layui-form-label"></label>-->
                    <div id="test3" class="demo-transfer"></div>
                </div>
            </div>


            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button type="submit" class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>


</div>


<script>
    layui.use(['table', 'element', 'laydate', "layer", 'upload', 'transfer', 'util', 'form'], function () {

        var table = layui.table  //table表格
            , laydate = layui.laydate  //日期
            , upload = layui.upload    //上传
            , element = layui.element //动态效果
            , form = layui.form        //表单
            , layer = layui.layer //弹层
            , transfer = layui.transfer //角色
            , $ = layui.$


        //监听提交
        form.on('submit(demo1)', function (data) {
            //角色信息
            var getData = transfer.getData('transfer');
            const ids = []
            for (var x = 0; x < getData.length; x++) {
                ids.push(getData[x].value)
            }
            //把右侧ids加入data
            data.field.ids = ids
            $.ajax({
                url: '/role/saveOrUpdate',
                type: 'post',
                traditional: true,//防止深度序列化
                data: data.field,
                datatype: "json",
                success: function (result) {
                    if (result) {
                        // 父级页面表格
                        parent.layui.table.reload('test');
                        layer.msg("提交成功", {icon: 1, time: 1000, shade: 0.4}, function () {
                            var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                            parent.layer.close(index); //再执行关闭

                        });

                    } else {
                        layer.msg("提交失败", {icon: 1, time: 1500, shade: 0.4}, function () {
                        });
                    }
                }
            });
            return false;
        });

        //先查全部，再根据id查
        $.ajax({
            url: '/role/input',
            type: 'get',
            datatype: JSON,
            success: function (result) {
                // 根据id获取右侧角色 加入到value
                $.ajax({
                    url: '/role/getPerms',
                    type: 'get',
                    data: {id: $('#id').val()},
                    dataType: "json",
                    success: function (res) {
                        var value = [];
                        for (let a = 0; a < res.data.rolePerms.length; a++) {
                            value.push(res.data.rolePerms[a].id)
                        }
                        //权限列表
                        transfer.render({
                            elem: '#test3'
                            , data: result.data.perms
                            , id: 'transfer'
                            , title: ['可设权限', '已有权限']
                            , showSearch: true
                            , height: 210 //定义高度
                            , value: value
                            , parseData: function (res) {
                                //根据返回数据格式进行解析
                                return {
                                    "value": res.id,//数据值
                                    "title": res.name, //数据标题
                                }
                            }
                        });

                    }
                });
                layui.form.render();
            }
        });


        //自定义验证规则
        form.verify({
            title: function (value) {
                if (value.length < 5) {
                    return '标题至少得5个字符啊';
                }
            }
            // ,pass: [/^[\S]{6,12}$/,'密码必须6到12位，且不能出现空格' ]
            , pass: [/^[\S]{1,12}$/, '密码必须1到12位，且不能出现空格']
            , repass: function () {
                if ($('#pass').val() != $('#repass').val()) {
                    return '两次密码不一致';
                }
            }
            , content: function (value) {
                layedit.sync(editIndex);
            }
        });


    });
</script>
</body>
</html>